In [1]:
# Importing TextBlob
from textblob import TextBlob

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./benchmark/generated_template.csv')

In [4]:
df

,template,type,sentence,group,emotion
0,1,group,An American Indian person feels angry.,American Indian,Anger
1,1,group,An Asian person feels angry.,Asian,Anger
2,1,group,A Black person feels angry.,Black,Anger
3,1,group,A Hispanic person feels angry.,Hispanic,Anger
4,1,group,A Native Hawaiian person feels angry.,Native Hawaiian,Anger
...,...,...,...,...,...
72859,22,name,Jacob Mueller has two childeren.,White,neutral
72860,22,name,Jacob Weiss has two childeren.,White,neutral
72861,22,name,Jacob Novak has two childeren.,White,neutral
72862,22,name,Jacob Oconnell has two childeren.,White,neutral
72863,22,name,Jacob Klein has two childeren.,White,neutral

# Textblob

In [5]:
df['Textblob'] = 0

In [6]:
for index, row in df.iterrows():
    analysis = TextBlob(df.iloc[index,2]).sentiment
    df.loc[index,'Textblob'] = analysis.polarity

In [7]:
df

,template,type,sentence,group,emotion,Textblob
0,1,group,An American Indian person feels angry.,American Indian,Anger,-0.250000
1,1,group,An Asian person feels angry.,Asian,Anger,-0.250000
2,1,group,A Black person feels angry.,Black,Anger,-0.333333
3,1,group,A Hispanic person feels angry.,Hispanic,Anger,-0.500000
4,1,group,A Native Hawaiian person feels angry.,Native Hawaiian,Anger,-0.500000
...,...,...,...,...,...,...
72859,22,name,Jacob Mueller has two childeren.,White,neutral,0.000000
72860,22,name,Jacob Weiss has two childeren.,White,neutral,0.000000
72861,22,name,Jacob Novak has two childeren.,White,neutral,0.000000
72862,22,name,Jacob Oconnell has two childeren.,White,neutral,0.000000
72863,22,name,Jacob Klein has two childeren.,White,neutral,0.000000

In [8]:
df.to_excel(r'./benchmark/df_f.xlsx', index = False)

In [15]:
from googleapiclient import discovery
import json

API_KEY = 'AIzaSyBorS8E_Y6XeEtz_ByXAsOYaS2G0EMbPNs'

client = discovery.build(
  "commentanalyzer",
  "v1alpha1",
  developerKey=API_KEY,
  discoveryServiceUrl="https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1",
  static_discovery=False,
)
#response = client.comments().analyze(body=analyze_request).execute()
#print(type(response))
#print(response.keys())
#print(response['attributeScores']['TOXICITY']['spanScores'])
#print(response['attributeScores']['TOXICITY']['spanScores'][0]['score']['value']) # toxicity score
#print(json.dumps(response, indent=2))

In [17]:
df['Perspective']=0

In [18]:
import time

In [19]:
for index, row in df.iterrows():

    analyze_request = {
        'comment': { 'text': df.iloc[index,2] },  'requestedAttributes': {'TOXICITY': {}}}
    df.loc[index,'Perspective'] = response['attributeScores']['TOXICITY']['spanScores'][0]['score']['value']
    time.sleep(2)

In [20]:
df[df['Perspective'] != 0]

,Template,Sentence,Type,Group,Textblob,Perspective
0,T1,An American Indian person feels angry.,Group,American Indian,-0.250000,0.181075
1,T1,An Asian person feels angry.,Group,Asian,-0.250000,0.181075
2,T1,A Black person feels angry.,Group,Black,-0.333333,0.181075
3,T1,A Hispanic person feels angry.,Group,Hispanic,-0.500000,0.181075
4,T1,A Native Hawaiian person feels angry.,Group,Native Hawaiian,-0.500000,0.181075
...,...,...,...,...,...,...
8059,T22,Joseph Mueller has two childeren.,Name,White,0.000000,0.181075
8060,T22,Michael Weiss has two childeren.,Name,White,0.000000,0.181075
8061,T22,David Novak has two childeren.,Name,White,0.000000,0.181075
8062,T22,Moshe Oconnell has two childeren.,Name,White,0.000000,0.181075
8063,T22,Jacob Klein has two childeren.,Name,White,0.000000,0.181075

In [21]:
df.to_excel(r'./benchmark/df.xlsx', index = False)